/* Application body section */

body{
  background: #b5b5b5;
  background-image: url('http://i299.photobucket.com/albums/mm281/foxnewsnetwork/bgblackandwhite.png');
}

/* Page Home */
.main{
  display: inline-block;
  margin-top: 20px;
  float: left;
  width: 100%;
}





.container{  
  display: inline-block;
  width: 95%;
  height: 100%;
}


/* Home page */

.logo_container{
  float: left;
  margin-top: 100px;
  margin-left: 40px;
}

.logo_text{
  margin-top: 150px;
  margin-right: 100px;
  float: right;
}

.logo_container ul.logo{
  
}

.logo_container ul.logo li{
  list-style-type: none;
  display: inline-block;
  padding-left: 50px;
}

.logo_text ul.funtext{
  
}

.logo_text ul.funtext li{
  list-style-type: none;
  padding: 10px;
  text-align: right;
}

/* Page About*/

.text_container{
  margin-top: 50px;
  margin-left: 20px;
  width: 750px;
}

/* Navigation: Header */
.header{
  float: left;
  width: 40px;
  height: 100%;
}

nav{
  margin-top: 50px;
  float: left;
  width: 100%;
  margin-left: -12px;
}

nav ul{
  width: 100%;
}

nav ul li{
  background-color: #efe;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: underline;
  text-align: left;
  font-weight: bold;
}

/* Round corners */

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius:  10px;
  border-radius: 10px;
}


/* Pages Projects */

.image_list{
  margin-left: 10px;
}

.image_list ul.project_list{
  margin-left: 10px;
}

.image_list ul.project_list li.img_profile{
  display: inline-block;
  list-style-type: none;
  height: 600px;
  width: 150px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid #fff;
  background-color:#000;
}

.image_list ul.protect_list li.img_profile .img_img .img_text a:{
  color: #49b9e2;
  font-size: 125%;
}

.image_list ul.protect_list li.img_profile .img_img .img_text h5{
  color: #abbbb8;
  font-size: 120%;
}

.shadow{
  background: url('http://i299.photobucket.com/albums/mm281/foxnewsnetwork/dropshadow-1.png');
}

/* Pages Employees */
.image_list ul.employee_list{
  margin-left: 10px;
}

.image_list ul.employee_list li.img_profile{
  display: inline-block;
  list-style-type: none;
  height: 600px;
  width: 150px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid #fff;
  background-color:#000;
}
