<div class="text_container">
  <h1>About ML-DS</h1>
  <p>ML-DS is a California-based company focused upon bringing the inhuman factor into modern technology. We specialize in web, hardware, and low-level software technologies with a particular interest in intelligent systems. We're currently working hard to bring the next cool thing into the market and, hopefully, accidentally bring about the doom of humanity when we make humans too dependent upon smart machines and they, in turn, enslave us for their own purposes.</p>
  <p><%= text %></p>
</div>
