<div class="image_list">
  <ul class="project_list">
    <% projects.each do |project| %>
      <li class="img_profile">
        <div class="img_img">
          <%= link_to image_tag(project[:img], :size => "150x150", :class => "round") , project[:url] %>
        </div>
        <div class="img_text">
          <%= project[:text] %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div class="shadow" />
